:root {
  --black: #00063d;
  --primary: #ffc100;
  --primary-light: #ffbf0099;
  --secondary: #ff9100;
  --secondary-light: #ff910099;
  --gray: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  /* list-style: none; */
}

.icons {
  display: none;
}

a,
a:hover {
  text-decoration: none;
  color: #fff;
}
/* ######### NAV BAR STYLE ######## */

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  /* height: 80px; */
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 10000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
}

.icons {
  display: none;
}

nav .logo {
  width: 90px;
}

.nav_links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 430px;
  margin-top: 20px;
}

.nav_links ul {
  top: 70px;
  position: fixed;
  float: right;
  border: 1px solid #fff;
}

.menu ul a {
  color: var(--black);
  font-size: 15px;
  line-height: 32px;
  padding: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

.menu ul li {
  float: right;
  position: relative;
  margin: 0;
  padding: 0;
}

.menu ul ul {
  position: absolute;
  background-color: var(--primary);
  top: 100%;
  display: none;
}

.menu ul ul li {
  float: none;
  width: 170px;
}

.menu ul ul li a {
  color: #fff;
}

.menu ul ul ul {
  top: 0px;
  left: 100%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 500px;
}

.menu ul li:hover > ul {
  display: block;
}

.search i {
  font-size: 20px;
  cursor: pointer;
}

/* ######### MAIN HOME  ######## */

.main_home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  background: url('./images/wave.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position-y: bottom;
}

.main_content img {
  width: 70px;
  transform: rotate(120deg);
}

.main_content {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  flex: 1 1 40;
}

.banner {
  flex: 1 1 40;
  width: 640px;
  z-index: 1;
}

.main_content .buttons {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.main_home span {
  color: var(--primary);
}

.main_content h1 {
  font-weight: 700;
  color: var(--black);
}

.main_content p {
  font-size: 16px;
}

.main_content .buttons button {
  padding: 10px 30px;
  border-radius: 10px;
  color: var(--black);
  background-color: var(--primary);
  border: 0;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.445); */
  outline: none;
  margin-bottom: 20px;
  font-weight: 600;
  width: 200px;
}

.main_content .buttons button:hover {
  color: #fff;
  background-color: #ff9900;
  box-shadow: 0 0 10px var(--secondary-light);
}
/* ######### ABOUT US SECTION STARTS ######## */

.aboutus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./images/about.svg');
  /* backdrop-filter: blur(50px); */
  /* opacity: 0.8; */
  /* z-index: -1; */
  /* overflow: hidden; */
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  /* transform: rotate(-5deg) scale(110%); */
}

/* .about img {
  width: 280px;
  position: absolute;
  top: 10px;
  right: 180px;
  transform: rotate(3deg);
} */

.about-content {
  width: 75%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  /* filter: blur(0px); */
  /* transform: rotate(5deg) translateY(50px); */
  /* margin-top: 30px; */
}

.about-content h1 {
  font-size: 45px;
  color: var(--black);
  font-weight: 700;
  margin-bottom: 40px;
}

.about-content p {
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
}

.about-content button {
  padding: 10px 30px;
  background-color: var(--primary);
  color: var(--black);
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}

.about-content button:hover {
  background-color: var(--secondary);
  box-shadow: 0 0 10px var(--secondary-light);
  color: #fff;
}

/* ######### SERVICES SECTION STARTS ######## */

.services {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom right,
    var(--secondary),
    var(--secondary-light),
    var(--primary-light),
    var(--primary)
  );
  position: relative;
  padding-bottom: 50px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 250px;
  margin-bottom: 30px;
  padding: 10px 30px;
  transition: 0.5s;
  margin-right: 20px;
  border-radius: 20px;
}

.card:hover {
  background-color: var(--black);
  color: #fff;
  cursor: pointer;
  transform: scale(1.1);
}

.services .heading {
  margin-top: 50px;
}

.image_heading {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  justify-content: space-between;
}

.image_heading h1 {
  font-size: 24px;
}

.image_heading img {
  max-width: 120px;
  max-height: 120px;
}

.heading {
  color: var(--black);
  margin-bottom: 40px;
  margin-top: -80px;
}

.services button {
  background-color: var(--primary);
  border-radius: 10px;
  padding: 10px 30px;
  margin-bottom: 20px;
  border: none;
  color: var(--black);
}

.services button:hover {
  background-color: var(--secondary);
  box-shadow: 0 0 10px var(--secondary-light);
  color: #fff;
}

/* ######### PRICING SECTION STARTS ######## */
ul {
  list-style-type: disc;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
  /* padding-left: 20px;  */
}

.pricing {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding-bottom: 50px;
}

.pricing_cards {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.pricing_card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  margin-bottom: 30px;
  padding: 10px 30px;
  margin-right: 20px;
  border-radius: 20px;
  border: 0.1px solid var(--gray);
}

.desc {
  font-size: 14px;
  color: #5f5f5f;
}
.pricing > h1 {
  margin-top: 50px;
}

.price_heading {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  justify-content: space-between;
}

.price_heading h1 {
  font-size: 18px;
}

.price_heading p {
  font-size: 32px;
  /* font-weight: bold; */
}

.starter {
  background-color: #ffbf004d;
  border: 1.5px solid var(--primary);
}

.starter .price_heading {
  border-bottom: 1px solid var(--primary);
}

.starter > div > p {
  color: var(--primary);
}

.starter .cta {
  background-color: var(--primary);
  color: #fff;
  border-radius: 10px;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  font-weight: 600;
}

.growth {
  background-color: #00063d4d;
  border: 1.5px solid var(--black);
}

.growth .price_heading {
  border-bottom: 1px solid var(--black);
}

.growth > div > p {
  color: var(--black);
}

.growth .cta {
  background-color: var(--black);
  color: #fff;
  border-radius: 10px;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  font-weight: 600;
}

.premium {
  background-color: #ff91004d;
  border: 1.5px solid var(--secondary);
}

.premium .price_heading {
  border-bottom: 1px solid var(--secondary);
}

.premium > div > p {
  color: var(--secondary);
}

.premium .cta {
  background-color: var(--secondary);
  color: #fff;
  border-radius: 10px;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  font-weight: 600;
}

/* ######### TESTIMONIAL SECTION STARTS ######## */
.testimonials {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(to top left, var(--secondary-light), var(--primary-light));
  padding-bottom: 50px;
}

.testimonial_cards {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.testimonial_card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  /* flex: 1; */
  margin-bottom: 30px;
  padding: 10px 30px;
  margin-right: 20px;
  border-radius: 20px;
  border: 0.1px solid var(--gray);
  background-color: #fff;
}

.testimonial_card .user {
  font-weight: 600;
}

.testimonial {
  font-style: italic;
  padding: 10px 20px;
  position: relative;
}

.testimonial::before {
  content: open-quote; /* Adds the opening quotation mark */
  font-size: 3em;
  position: absolute;
  top: -10px;
  left: -10px;
  color: #000;
}

.testimonial::after {
  content: close-quote; /* Adds the closing quotation mark */
  font-size: 3em;
  position: absolute;
  bottom: -30px;
  right: -10px;
  color: #000;
}

.testimonials > h1 {
  margin-top: 50px;
}

/* ######### CONTACT SECTION STARTS ######## */

.contact {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.contact_heading {
  color: rgb(0, 0, 80);
  margin-left: 140px;
}

.contact_heading h1 {
  font-weight: 700;
}

.contact_heading p {
  font-size: 15px;
}

.contact form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 140px;
  position: relative;
}

.contact img {
  position: absolute;
  bottom: -32%;
  right: 0;
  width: 450px;
}

form .input {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  margin-right: 30px;
  height: 85px;
  margin-bottom: 20px;
}

form .input label {
  font-size: 20px;
  color: var(--black);
}

form .input input {
  padding: 10px 30px;
  border: 1px solid var(--gray);
  width: 500px;
  border-radius: 10px;
}

form .textarea {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  margin-right: 30px;
}

form .textarea label {
  font-size: 20px;
  color: var(--black);
}

form .textarea textarea {
  padding: 10px 30px;
  border: 1px solid var(--gray);
  border-radius: 10px;
}

.contact button {
  padding: 10px 30px;
  background-color: var(--primary);
  color: var(--black);
  font-weight: 700;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  width: 200px;
  margin-left: 140px;
}

.contact button:hover {
  background-color: var(--secondary);
  box-shadow: 0 0 10px var(--secondary-light);
  color: #fff;
}

/* ######### FOOTER SECTION STARTS ######## */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  /* background: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.658)), url('./images/building.avif'); */
  /* background-size: cover; */
  color: var(--black);
  position: relative;
}

footer a,
footer a:hover {
  color: var(--black);
}

footer .top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

footer img {
  /* width: 50px; */
}

footer ul {
  list-style: none;
}
.list-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  width: 900px;
  height: 500px;
  margin-top: 30px;
}

.top li {
  list-style: disc;
  font-size: 14px;
}

.top h1 {
  font-size: 20px;
}

.booth {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.right {
  width: 400px;
}

.right img {
  width: 200px;
}

.right button {
  padding: 10px 30px;
  background-color: var(--primary);
  box-shadow: 0 0 10px rgba(211, 18, 40, 0.445);
  border-radius: 10px;
  color: #fff;
  border: none;
}

.footer-bottom {
  border-top: 1px solid var(--gray);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  margin-bottom: 30px;
}

.footer-bottom img {
  width: 100px;
}

.footer-bottom p {
  color: #fff;
  margin-left: 20px;
}

.left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.left h1 {
  font-size: 25px;
  font-weight: 700;
}

.left ul {
  margin-left: -30px;
}

.left ul li i {
  font-size: 23px;
  margin-right: 10px;
}

.left img {
  position: absolute;
  top: -120px;
  right: -200px;
  /* margin-top: -100px; */
  z-index: -5;
  opacity: 0.4;
  width: 300px;
}
